# Unity default ignore files
[Library]
[Temp]
[Obj]
[Build]
[Builds]
[Logs]
[MemoryCaptures]
*.csproj
*.unitypackage
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp
*.pdb
*.mdb
*.opendb
*.db
sysinfo.txt
*.apk
*.unityexp
*.bundle

# OS generated
.DS_Store
Thumbs.db
